#contenedorEdu{    
    padding: 20px;
    background-color: #d8ddda; /*ver color*/
}

ul{
    padding-block: 10px;
}

.data-control{
    display: flex;
    flex-direction: row;
    /*justify-content: end;*/
    
}

.btn{
    background-color: #919E95;
    margin: 13px;
    color: #d8ddda;
}

.btn-secondary{
    background-color: grey;
}