<div class="row">
    <div class="col-lg-2">
        <h1>Eduación </h1> 
    <button type="button" class="btn btn-light, btn-ediciones"><i class="bi bi-plus-circle-fill"></i> Agregar </button>

    </div>
    
    <div class="col-lg-10">
        <ul class="items-list">
            <li *ngFor="let estudio of estudioList">
                <h3>{{estudio.institucion}} - {{estudio.titulo}}</h3>
                <h6>{{estudio.periodo}}</h6>
                <p>
                    {{estudio.descripcion}}
                </p>
                <button type="button" class="btn btn-light, btn-ediciones"><i class="bi bi-pen-fill"></i> Editar</button>
                <button type="button" class="btn btn-light, btn-ediciones"><i class="bi bi-x-circle-fill"></i> Eliminar</button>
            </li>      
        </ul>
    </div>
</div>
