.row{
    
    padding: 20px;
}

div{
    background-color: #d8ddda; /*ver color*/
}

ul{
    padding-block: 10px;
}
.row{
    
    padding: 20px;
}

div{
    background-color: #d8ddda; /*ver color*/
}
.btn-ediciones{
    align-items: flex-start;
}