<div class="row">

    <h1>Experiencia</h1>

    <div class="col-lg-10">
        <ul>
            <!--<ul>*ngFor="let educacion of educacionList" </ul>-->
            <li>
                <!--<h2>{{educacion.institucion}}</h2> // no está hecho todavia-->
                <h2>Estudio1</h2> - <h4>Lapso</h4>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti odio repellendus, incidunt perferendis eos in vitae obcaecati doloremque, vero dolor voluptatibus quo, suscipit sunt culpa repellat aliquid dignissimos libero temporibus.
            </p>
        </ul>
        <ul>
            <li>
                <h2>Estudio2</h2> - <h4>Periodo</h4>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti odio repellendus, incidunt perferendis eos in vitae obcaecati doloremque, vero dolor voluptatibus quo, suscipit sunt culpa repellat aliquid dignissimos libero temporibus.
            </p>
        </ul>
        <ul>
            <li>
                <h2>Estudio3</h2> - <h4>Periodo</h4>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti odio repellendus, incidunt perferendis eos in vitae obcaecati doloremque, vero dolor voluptatibus quo, suscipit sunt culpa repellat aliquid dignissimos libero temporibus.
            </p>
        </ul>

    </div>

</div>
