<div id="navbar">
    <!-- <div>
        <img src="../../../assets/img/cbe833b6a82a7c1dd7dadde7ca689502-removebg-preview.png" id="logo" alt="">
    </div> -->

    <nav class="menu-hamburguesa">
        <button id="hamburguesa-btn">&#9776;</button>

        <ul class="botonera">
            <!-- <a href="">Tecnologías</a> -->
            <!-- <a href="#contenedorEdu">Formación</a> -->
            <!-- <a href="#contenedorProy">Proyectos</a> -->
            <!-- <a href="">Ilustraciones</a> -->
            <a href="https://github.com/VCinthia" target="_blank">GitHub</a>
            <a href="https://www.linkedin.com/in/cinthiavota/" target="_blank">LinkedIn</a>
            <!-- <a href="">Correo</a> -->
            <a href="https://drive.google.com/file/d/1FjM7odnNo9CCm00x03f_MgsdPJVpavrN/view?usp=sharing" target="_blank">Curriculum</a>
            <a href="api/login" id="login-button-nav">Iniciar sesión</a>
        </ul>
    </nav>
</div>

