.fijo{
    /*background-color: #7E9EA4 ;*/
    background-color: #919E95;
    z-index: +1;
    position:sticky;
    top: 0px;
	width: 100%;
    /*border-radius: 10px;*/

}

app-social-header{
    margin-top: 30px;
    float: right;
    margin-right: 20px;
}