<div class="row">
    <h1>Skills</h1>
    
    <div class="col-sm-6 col-md-6 col-lg-6">
        <h5>HTML / CSS</h5>
        <div class="container">
             <div class="skills html"><!--60%-->
             </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6">
        <h5>TypeScript</h5>
        <div class="container">
             <div class="skills typescript"><!--60%-->
             </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6">
        <h5>Base de Datos</h5>
        <div class="container">
             <div class="skills bdd"><!--40%-->
             </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6">
        <h5>Illustrator - Sketch - Corel</h5>
        <div class="container">
             <div class="skills ilustracion"><!--80%-->
             </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6">
        <h5>Office Pack - WPS</h5>
        <div class="container">
             <div class="skills officepackwps"><!--70%-->
             </div>
        </div>
    </div>
    
    <div class="col-sm-6 col-md-6 col-lg-6">
        <h5>Trabajo en equipo - Resolución de conflictos</h5>
        <div class="container">
             <div class="skills team"><!--90%-->
             </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6">
        <h5>Español nativo: Comunicacion oral y escrita</h5>
        <div class="container">
             <div class="skills comunicacion"><!--90%-->
             </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6">
        <h5>Inglés: Comunicacion oral y escrita</h5>
        <div class="container">
             <div class="skills ingles"><!--60%-->
             </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6">
        <h5>Metodologías de trabajo: Notion - Trello</h5>
        <div class="container">
             <div class="skills metodologias"><!--50%-->
             </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6">
        <h5>Git - GitHub</h5>
        <div class="container">
             <div class="skills git"><!--50%-->
             </div>
        </div>
    </div>
</div>
