/* Make sure that padding behaves as expected */
* {box-sizing:border-box}

#contenedorS{
  padding: 20px;
  background-color: #d8ddda; /*ver color*/
}

/* Container for skill bars */
.container {
  width: 100%; /* Full width */
  background-color: #ffffff;
  border-radius: 15px;
  margin: 2px;  
  }

.container .skills-porcent{
  background-color: #ffffff;
}

ul{
  padding-block: 10px;
}

.data-control{
    display: flex;
    flex-direction: row;
}

.btn{
  background-color: #919E95;
  margin: 13px;
  color: #d8ddda;
}

.btn-secondary{
  background-color: grey;
}