/* selector {propiedad:valor;} */

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}

h1 {
    font-family: Open Sans Condensed; font-size: 50px;
}

NAV { DISPLAY: FLEX; align-items: center;}

footer button {
    background-color: rgb(173, 216, 230);
    border-radius: 4mm;
 }

body { 
    color: #333333;
}
