<div class="row">
    <footer>
        <div class="r-descrip">
            <p><b>Cinthia Romina Vota - 2023 ©</b></p>
            <P>Mar del Plata, Buenos Aires, Argentina</P>
            <p>votacinthia@gmail.com</p>
        </div>
        <div class="r-redes">
                       
            <a href="https://www.instagram.com/opal.dev/" target="_blank">Opal Dev<span class="icon-wrapper"><i class="fab fa-instagram" style="color: #ffffff;"></i></span></a>
            <a href="https://www.linkedin.com/in/cinthiavota/" target="_blank">LinkedIn<span class="icon-wrapper"><i class="fab fa-linkedin-in" style="color: #ffffff;"></i></span></a>
            <a href="https://github.com/VCinthia" target="_blank">GitHub<span class="icon-wrapper"><i class="fab fa-github" style="color: #ffffff;"></i></span></a>
            
        </div>
        <!-- <div>
            <img src="../../../assets/img/cbe833b6a82a7c1dd7dadde7ca689502-removebg-preview.png" id="logo" alt="">
        </div> -->
    </footer>

</div>
