.row{
    background-color: #919E95;
    align-items: center;
 
}

footer{
    color: #dee2df;
    padding-top: 15px;
    display: flex;
    text-align: center;
    flex-direction: column;
    vertical-align: middle;   
}