
.botonera li{
	display: inline-block;
	margin-left: 8px;
	font-weight: 600;
	font-size: 20px;
}

.botonera li a{
	color: rgb(255, 255, 255);
	/*boton no presionado*/
}

.botonera li a:hover{
	/* color: #191c24; */
	text-decoration: none;
	/*boton cuando nos posicionamos*/
}

img{
	align-items: baseline;
    width: 35px;
    display: inline-block;
	margin-left: 20px;
	
	
}