<div><!--Elegir una de las dos-->
    <ul class='botonera'>
        <!-- <li><a href="C:/Users/cinth/OneDrive/Documentos/Develop/PORTFOLIO/Frontend/portfoliocv/src/index.html" title="Volver al Inicio" data-ancla="inicio" > Inicio </a></li> -->
        <!-- <li><a href="#contacto" data-ancla="contacto"> Contacto </a></li> -->
        <!-- <li><a href="https://github.com/VCinthia" target="_blank" title="Ir a GitHub"> GitHub </a></li> -->
        <!-- <li><a href="../../../../../CV Cinthia IT.pdf" target="_blank" title="Ir a Descargar CV - PDF"> Descargar CV  </a></li> -->

        <!-------------------->

        <a href=""><img src="../../../assets/icon/email.png" target="_blank" id="correo" title="Enviar un Correo" ></a>
        <a href="https://github.com/VCinthia" target="_blank"><img src="../../../assets/icon/github.png" id="github" title="Ir a GitHub"></a>
        <a href=""><img src="../../../assets/icon/linkedin.png" target="_blank" id="linkedin" title="LinkedIn"></a>
        <a href="../../../../../../Frontend/CV Cinthia IT.pdf" target="_blank"><img src="../../../assets/icon/download.png" id="downloadcv" title="Ir a Descargar CV - PDF"></a>
        <a href=""><img src="../../../assets/icon/003-usuario.png" id="login" title="Login"></a>
        
      </ul>
</div>
