<div id="navbar">
    <ul class='botonera'>

        <a href="https://github.com/VCinthia" target="_blank"><img src="../../../assets/icon/github.png" id="github" title="Ir a GitHub"></a>
        <a href="https://www.linkedin.com/in/cinthiavota/" target="_blank"><img src="../../../assets/icon/linkedin.png" target="_blank" id="linkedin" title="LinkedIn"></a>
        <a href="https://drive.google.com/file/d/1FjM7odnNo9CCm00x03f_MgsdPJVpavrN/view?usp=sharing" target="_blank"><img src="../../../assets/icon/download.png" id="downloadcv" title="Ir a Descargar CV - PDF"></a>
        <a href="api/login" ><img src="../../../assets/icon/003-usuario.png" id="login" title="Login" ></a>
        
      </ul>
</div>
