.container{
    display: flex;
    justify-content: center; 
}

img{
    width: 100%;
    height: 100%;

}

h1{ /*arreglar que el texto se monta sobre el*/
    position: absolute;
    padding-left: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*
    text-align: justify, left;*/
}