<div class="row">
<h1> Proyectos realizados</h1>
<div class="container">
    <div class="col-sm-12 col-md-6 col-lg-6 p1">
        <h4>Fresco y Congelado</h4>
        <p>
            <i>Fresco y Congelado</i> es una granja familiar de la ciudad de Mar del Plata. Para el comitente lo importante era que su local pudiera encontrarse a través de una web y así para quienes escucharon hablar de ellos, encontraran un sitio que les dé seguridad para pedir por medio de Whatsapp.
        </p>
    </div>
    <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 p2">
        <a href="https://fresco-y-congelado.firebaseapp.com/" target="_blank"><img src="../../../assets/img/Fresco y congelado.png" class="img-fluid img-proyect" id="frescoycongelado" title="Ir a la Pagina"></a>
    </div>
</div>

</div>
