.row{
    padding: 20px;
    background-color: #d8ddda;
    padding-bottom: 20px;
}

.container{
    width: auto;
    align-content: center;
}

.p1, .p2{
    display: inline-block;
    text-align: justify;
}

.img-proyect{
    box-shadow: 3px 3px 6px 2px  #999;
    border-radius:  20px;
}

