#contenedorProy{
    padding: 20px;
    background-color: #d8ddda; /*ver color*/
}

ul{
    padding-block: 10px;
}

.img-proyect{
    box-shadow: 3px 3px 6px 2px  #999;
    border-radius:  20px;
}

.data-control{
    display: flex;
    flex-direction: row;    
}

.btn{
    background-color: #919E95;
    margin: 13px;
    color: #d8ddda;

}

.btn-secondary{
    background-color: grey;
}